@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

#logo {
    font-family: Cinzel Decorative;
    font-size: 340%;
    text-align: center;
}


header {
    font-size: 200%;
    font-family: 'Luxurious Roman', cursive;
    color: black;
    text-align: center;
}

/*navigation links*/

#menu {
    font-size: 120%;
}

#menu li {
  
    list-style-type: none;
    font-size: 150%;
    float:right;
    letter-spacing: 20%;
    padding-right: 20%;
    
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid black;
}


/*hero-image*/
img {
    width: 100%;
    height: auto;
  }


h1 {
    text-align: center;
}

/*footer styling*/

footer
{
    height:150px;

}

/*gallery styling*/

div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

   

/*Media Queries*/

/*for small mobile screens of 480px*/

@media screen and (max-width:480px) {

#menu li {

        margin-left:40%;
        margin-bottom: 0%;
        float: left;

    }

#logo {
        font-size: 200%;
    }


/*Timeline Section for mobile screens of 480px*/

#Timeline {
    text-align: center;
    position: relative;
}

aside {
    width: 30%;
    padding-left: .5rem;
    margin: .5rem;
    float: left;
    border-left: 1px solid navy;
    font-style:normal;
    color:black;

}
section {
	display: flex;
}
section p {
	width: 30%;
    padding-left: 10rem;
    font-size: 100%;
    position: relative;
    text-align: center;

}
/*gallery styling for small screens of 480px*/

div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
    height: auto;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/*for medium screens of 500px*/

@media screen and (max-width:500px) {

    #menu li {
    
            margin-left:40%;
            margin-bottom: 0%;
            float: left;
    
        }
    
    #logo {
            font-size: 200%;
        }
    

/*Timeline Section for screens of 500px*/

#Timeline {
    text-align: center;
    position: relative;
}

aside {
    width: 30%;
    padding-left: .5rem;
    margin: .5rem;
    float: left;
    border-left: 1px solid navy;
    font-style:normal;
    color:black;

}
section {
	display: flex;
}
section p {
	width: 30%;
    padding-left: 10rem;
    font-size: 100%;
    position: relative;
    text-align: center;

}

